.div_product
{
    position: relative;
    width: 245px;
    height: 422px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    border-radius: 20px;
    margin: 0 12px 32px 12px;
    padding: 30px 35px 30px 35px;
}

.div_product:hover
{
    box-shadow: 0px 0px 16px 3px #42424217
}

.content_img
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.image_like, .image_dot
{
    cursor: pointer;
}

.image_like
{
    width: 16px;
    height: 15px;
}